            #timeText {
                font-weight: bold;
            }
            
            #avgText {
                font-weight: bold;
            }
            
            div {
                position: relative;
            }